<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>

<body>
    <div class="container">
        <div class="calculadora">
            <h2>Calculadora</h2>
            <form id="formCalculadora">
                <label for="valor1">Valor 1</label>
                <input type="number" [(ngModel)]="valor1" placeholder="Digite o primeiro valor" required name="valor1">

                <label>Operação</label>
                <div class="operacoes">
                    <button type="button" class="btn-operacao" (click)="setOperacao('+')">Soma</button>
                    <button type="button" class="btn-operacao" (click)="setOperacao('-')">Subtração</button>
                    <button type="button" class="btn-operacao" (click)="setOperacao('*')">Multiplicação</button>
                    <button type="button" class="btn-operacao" (click)="setOperacao('/')">Divisão</button>
                </div>

                <label for="valor2">Valor 2</label>
                <input type="number" [(ngModel)]="valor2" placeholder="Digite o segundo valor" required name="valor2">

                <label for="resultado">Resultado</label>
                <input type="text" [value]="resultado" readonly>

                <div class="buttons">
                    <button type="button" class="btn equal" (click)="calcular()">Calcular</button>
                    <button type="button" class="btn clear" (click)="limpar()">Limpar</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>